body {
    background-color: #43766C;
}

#search-page-content {
   margin: 0 auto;
   display: block;
}

#search {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

#search > .post-box {
    width: 50%;
}