<div class="edit-options">
            <div>
                <!-- remove this from edit profile and add this to normal profile-->
                <a href="/editProfile" class="brown-link">Edit Profile</a>
            </div>
            <div>
                <a href="/logout" class="brown-link">Log Out</a>
            </div>
</div>