        <div class="header">
            <div class="header-logo">
                <a href="home.html"><img class="logo" src="generic_assets/CourseConvo.png"></a>
            </div>
            <div class="header-search">
                <form>
                    <input type="text" id="search-field" />
                    <input type="submit" value="Search" class="search-style"/>
                </form>
            </div>
            <div class="header-profile">
                <!-- Alternate between Register/hyperlink to profile -->
                <img class="profile" src="profile_assets/eyes.jpg">
                <a href="profile.html" class="white-link"><b>Profile</b></a>
            </div>
        </div>