<script src="/static/js/header.js"></script>

<div class="header">
    <div class="header-logo">
        <a href="/home"><img class="logo" src="/static/generic_assets/CourseConvo.png"></a>
    </div>
    <div class="header-search">
        <form>
            <input type="text" id="search-field" placeholder="Enter keyword..." />
            <input type="submit" value="Search" class="search-style"/>
        </form>
    </div>
    <div class="header-profile" >
        <a href="/login" class="white-link" ><b>Login/</b></a>
        <a href="/register" class="white-link"><b>Register</b></a>
    </div>
</div>