
<div class="header">
    <div class="header-logo">
        <a href="/home"><img class="logo" src="/static/generic_assets/CourseConvo.png"></a>
    </div>
    <div class="header-search">
        <form>
            <input type="text" id="search-field" />
            <input type="submit" value="Search" class="search-style"/>
        </form>
    </div>
    <div class="header-profile" >
        <!-- Alternate between Register/hyperlink to profile -->
        <img class="pfp" src="/static/profile_assets/MCruz03.jpg">
        <a href="/profiles/MCruz03" class="white-link"><b>MCruz03</b></a>
        <a href="/login" class="white-link" hidden><b>Login/</b></a>
        <a href="/register" class="white-link" hidden><b>Register</b></a>
    </div>
</div>