<div class="post-thumb">
                    <span class="post-thumb-pic"><img src="/static/profile_assets/{{this.username}}.jpg"></span>
                    <div class="post-thumb-data">
                        <div class="post-thumb-head"><a href="/posts/{{postid1}}">{{this.title}}</a></div>
                        <div class="post-thumb-date">{{this.date}}</div>
                    </div>
                </div>