

<title>Edit Profile</title>
<link rel="stylesheet" href="/static/stylesheets/profile.css" />
<link rel="stylesheet" href="/static/stylesheets/edit-profile.css" />

{{> header}}
<div id="page-content">
    <div id="left-side">
        <div>
            <div class="profile-page">
                    <!-- Apply Javascript to allow the button to upload a file -->
                    <img class="pfp"  src="profile_assets/pfp.jpg">
            </div>
            <div class="profile-name">
                    <div>{{this.name}}</div>
                    <div style="font-size: medium;">{{this.username}}</div>
            </div>
            <div class="bio">   
                {{this.bio}}
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="settings">
            <div class="settings-container">
                <div>Profile Settings</div>
                <div>Username:</div>
                <div>
                    <input type="text" id="username" name="username" class="input-box">
                </div>
                <div>Password:</div>
                <div>
                    <input type="password" id="password" name="password" class="input-box">
                </div>
                <div>About Me:</div>
                <div>
                    <input type="text" id="about-me" name="about-me" class="input-box-bio"></input>
                </div>
                <div class="setting-choice">
                    <button type="submit" class="styled-button">Cancel</button>
                    <button type="submit" class="styled-button">Save Settings</button>
                </div>
            </div>
        </div>
    </div>              
</div>

