    <link href="/static/stylesheets/home-post.css" rel="stylesheet" type="text/css" media="all"/>   
    <link rel="stylesheet" href="/static/stylesheets/post-only.css" type="text/css" media="all"/>
    <title>Home</title>
    {{#if user}}
        {{> header_in user}}
    {{else}}
        {{> header_out}}
    {{/if}}
    <div id="page-content">
        <div id="left-side">
            <div id="top-post-list">
                <div id="top-post-header">
                    Top Posts
                </div>
                {{#each topposts}} {{>top_post_single this}} {{/each}}
            </div>
           
        </div>
        <div id="post-side">
            {{#if user}}
                {{>post_entry user}}
            {{/if}}
            <div id="post-list">
                {{#if posts}}
                {{#each posts}}
                {{> post this}}
                {{/each}}
            {{/if}}
            </div>
        </div>
    </div>
