    <link href="/static/stylesheets/home-post.css" rel="stylesheet" type="text/css" media="all"/>   
    <link rel="stylesheet" href="/static/stylesheets/post-only.css" type="text/css" media="all"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/js/home.js"></script>
    <title>Home</title>

    {{> header}}
    <div id="page-content">
        <div id="left-side">
           {{> top_post}}
        </div>
        <div id="post-side">
            <div id="post-entry">
                <form id="post-entry-box" method="post" name="postBox">
                    <div id="title-enter">
                        <input type="text" placeholder="Enter a title..." id="title-input">
                    </div>
                    <div id="post-entry-body">
                        <textarea placeholder="Write something..." id="post-body-textarea"></textarea>
                        <div id="pic">
                          <label for="post-image-upload" ><img src="generic_assets/camera.png" id="image-label"></label>  
                          <input
                            type="file"
                            id="post-image-upload"
                            name="post-image-upload"
                            accept=".jpg, .jpeg, .png" />
                        </div>
                    </div>
                    <input type="submit" id="submit-post" value="Submit post">
                </form>
            </div>
            {{#if posts}}
                {{#each posts}}
                {{> post this}}
                {{/each}}
            {{/if}}
        </div>
    </div>
