<link rel="stylesheet" href="/static/stylesheets/home-post.css" type="text/css" media="all"/>
<link rel="stylesheet" href="/static/stylesheets/post-only.css" type="text/css" media="all"/>

<input id="postid" value="{{this.post.postid}}" type="hidden">

{{#if user}}
        {{> header_in user}}
    {{else}}
        {{> header_out}}
    {{/if}}
<div id="page-content">
    <div id="left-side">
            <div id="top-post-list">
                <div id="top-post-header">
                    Top Posts
                </div>
                {{#each topposts}} {{>top_post_single this}} {{/each}}
            </div>
    </div>
    <div id="post-side">
        {{>post this.post}}

        <div id="comment-container">
        {{#if comments}}
            
                {{#each comments}}
                {{>comment this}}
            {{/each}}
            
            
        {{/if}}
        </div>
            {{#if user}}
                {{>comment_entry user}}
            {{/if}}
    </div>
</div>