<link rel="stylesheet" href="/static/stylesheets/search.css" />
<link rel="stylesheet" href="/static/stylesheets/profile.css" />
<link rel="stylesheet" href="/static/stylesheets/post-only.css" />

{{#if head}}
        {{> header_in head}}
    {{else}}
        {{> header_out}}
    {{/if}}
<div id="search-page-content">
    <div id="search">
        {{#if posts}}
        {{#each posts}}
        {{> post this}}
        {{/each}}
        {{/if}}    
    </div> 
</div>